p{   /*paragraph css*/
    display:flex;
    font-family: 'Open Sans', sans-serif;   
    align-items: center;
    font-size: small;
    color:black;
    font-weight: bolder;
    flex-direction: column;
}


.Header1        /* Title header css*/
{
    display: flex;
    background-color: rgb(12, 77, 68);
    align-items: center;
    justify-content: center;
    color:rgb(85, 154, 147);
    text-shadow: 2px 2px 5px black;
    font-size: xx-large;
    flex-direction: column;
    background-image: url("botanics3.png");
    font-family: 'Open Sans', sans-serif;
    transition: background-color 2s ease-out 50ms;
}

  
.bodybackground
{ 
    display: flex;
    align-items: center;
    position: relative; 
    flex-direction: column;
    background: rgb(92, 159, 137);
    padding: 0;
    
    height:1000px;
    width: 1200.5px;
    overflow: hidden;
    
    
}



.navcontainer{              /*navigation bar background*/
    list-style-type: none;
   
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}


.navbar a {                /*navlinks properties*/

    float: inline-start;
    padding: 12px;
    color: rgb(101, 147, 134);
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 20px;
    width: 10%; 
}
/* Dropdown Button */
.dropbtn {
    background-color:rgb(255, 255, 255) ;
    color: rgb(101, 147, 134);
    padding: 16px;
    font-size: 20px;
    border: none;
    font-family: 'Open Sans', sans-serif; 
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(85, 154, 147);
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
    min-width:65%;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  







  body
  {
      background-color: rgb(12, 51, 42); 
  }

.footer {               /*footer* - was thinking of adding social media links*/
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(120, 255, 201);
    color: white;
    text-align: center;
 }








