p{
    display:flex;
    font-family: 'Open Sans', sans-serif;   
    align-items: center;
    font-size: small;
    color:black;
    font-weight: bolder;
    flex-direction: column;
}





.Header1
{
    display: flex;
    background-color: rgb(12, 77, 68);
    align-items: center;
    justify-content: center;
    color:rgb(85, 154, 147);
    text-shadow: 2px 2px 5px black;
    font-size: xx-large;
    flex-direction: column;
    background-image: url("botanics3.png");
    
    font-family: 'Open Sans', sans-serif;
    transition: background-color 2s ease-out 50ms;
}
/*.Header1:hover {
    rgb(101, 147, 134);
     background-color: rgb(12, 77, 68);
    object-fit:inherit
}*/
  
.bodybackground
{ 
    display: flex;
    align-items: center;
    position: relative; 
    flex-direction: column;
    background: rgb(92, 159, 137);
    padding: 0;
    
    height:1000px;
    width: 1200.5px;
    overflow: hidden;
    
    
}



.navcontainer{
    list-style-type: none;
   
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(103, 200, 185);
    transition: background-color 2s ease-out 50ms;
}

.navcontainer:hover {
    background-color: #ffffff;
  }


  



 
.navbar a {
    float: inline-start;
    padding: 12px;
    color: rgb(101, 147, 134);
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 20px;
    width: 25%; 
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(120, 255, 201);
    color: white;
    text-align: center;
 }
















/*background-color: rgb(56, 189, 167);*/


body
{
    
    
    background-color: rgb(12, 51, 42);
   
  
}

/*rgb(80, 120, 108);